.listening {
   width: 0ch;
   color: white;
   overflow: hidden;
   white-space: nowrap;
   transition: all .2s;
   /* float: left; */
   animation: typing steps(24) 5s infinite ;
   @apply text-2xl font-medium text-gray-400
}
@keyframes typing {
   from {
       width: 0ch;
   }
   to {
       width: 100%;
   }
}